<!-- login.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <div class="login-container">
    <div class="login-logo">
      <i class="fa-solid fa-graduation-cap"></i>
      <h1>ConnectAbility</h1>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate>
      <!-- Email Field -->
      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input 
          type="email" 
          formControlName="email"
          [clearOnEdit]="false"
        ></ion-input>
        <ion-note slot="error" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          <span *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</span>
          <span *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email</span>
        </ion-note>
      </ion-item>

      <!-- Password Field -->
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input 
          type="password" 
          formControlName="password"
          [clearOnEdit]="false"
        ></ion-input>
        <ion-note slot="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <span *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</span>
          <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Minimum 6 characters</span>
        </ion-note>
      </ion-item>

      <!-- Login Button -->
      <ion-button 
        type="submit" 
        expand="block" 
        [disabled]="!loginForm.valid || isLoading"
      >
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">Login</span>
      </ion-button>

      <!-- Register Link -->
      <ion-button 
        expand="block" 
        fill="clear" 
        routerLink="/register"
        [disabled]="isLoading"
      >
        Don't have an account? Register
      </ion-button>
    </form>
  </div>
</ion-content>