<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
<i class="fa-solid fa-house"></i>      
<ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="metrics" href="/tabs/metrics">
<i class="fa-solid fa-chart-line"></i>      
<ion-label>Metrics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more" href="/tabs/more">
<i class="fa-solid fa-bars"></i>    
<ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
