<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button routerLink="/profile">
        <i class="fa-solid fa-user"></i>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome!</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div class="welcome-banner">
    <h2>Hello, Learner!</h2>
    <p>Discover resources to help you succeed</p>
  </div> -->

  <ion-row>
    <div class="card-container">
      <div class="card">
        <div class="card-title">
          <h1>Digital Literacy</h1>
        </div>
        <div class="card-description">
          <h3>Description</h3>
          <p>Learn the fundamentals of digital literacy and how to use technology effectively.</p>
          <div class="card-button">
            <ion-button color="primary" routerLink="/tabs/digital-literacy">More</ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-row>

  <ion-row>
    <div class="card-container">
      <div class="card">
        <div class="card-title">
          <h1>Transport</h1>
        </div>
        <div class="card-description">
          <h3>Description</h3>
          <p>Find information about transportation options and services.</p>
          <div class="card-button">
            <ion-button color="primary" routerLink="/tabs/transport">More</ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-row>

  <ion-row>
    <div class="card-container">
      <div class="card">
        <div class="card-title">
          <h1>Bursary & Education</h1>
        </div>
        <div class="card-description">
          <h3>Description</h3>
          <p>Find information about bursary opportunities and educational resources.</p>
          <div class="card-button">
            <ion-button color="primary" routerLink="/tabs/bursary-education">More</ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-row>
</ion-content>